.card_container{
    width: 100%;
    height: 50px;
    
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
}

.card_container:hover{
    background-color: #d6d8db;
}

.card_div_container{
    width: calc(100%/4);

    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
}
.card_div_container p{
    text-align: center;
    margin: 0;
    padding: 0;
}

.card_img{
    width: 25px;
    height: 25px;
}

.card_img:hover{
    cursor: pointer;
}


/* ----RESPONSIVE FOR <768PX---- */
@media (max-width: 768px) {

    .card_container{
        
    }

    .card_div_container p{
        font-size: 12px;
    }

    .card_img{
        width: 20px;
        height: 20px;
    }

}