#newoperation_container_principal{
    width: 100vw;
    height: 90vh;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#newoperation_container_secondary{
    display: flex;
    justify-content:space-around;
    align-items:center;
    flex-direction: column;

    width: 50vw;
    height: 50vh;
    margin: 0;
    padding: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 60%);
}

#newoperation_conteiner_secondary_header{
    background-color: #d6d8db;
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#newoperation_conteiner_secondary_header h1{
    padding: 0;
    margin: 0;
    z-index: 1;
}
#newoperation_conteiner_secondary_header p{
    padding: 0;
    margin: 0;
}

#form_newoperation_container{
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-direction: column;

    width: 80%;
    height: 80%;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    background-color: white;
}

#form_inputs_container{
    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
}

.form_select_conteiner_individual{
    width: 70%;
    height: auto;
}
.form_select_conteiner_individual label{
    color: grey;
}

.form_input_conteiner_individual{
    width: 70%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
}
.form_input_conteiner_individual input{
    width: 100%;
    height: 35px;
    font-size: 15px;
    border: 1px solid  hsl(0, 0%, 80%);
    border-radius: 4px;
    margin: 0;
    padding-left: 5px;
}
.form_input_conteiner_individual label{
    color: grey;
    margin-bottom: 5px;
}

#form_bttn_container{
    width: 100%;
    height: 20%;
    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#form_newopertaion_bttn{
    width: 150px;
    height: 50px;
    background-color: #52c0f7;
    color: white;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: .25rem;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
}

.from_message_container_principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form_message_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0;
    padding: 10px;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 60%);
}

.form_message_container img{
    width: 50px;
    height: 50px;
}

.form_message_bttn{
    width: auto;
    height: 50px;
    margin-top: 40px;
    background-color: #52c0f7;
    color: white;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: .25rem;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
}


/* ----RESPONSIVE FOR <768PX---- */
@media (max-width: 768px) {

    #newoperation_container_secondary{
        width: 90%;
        height: auto;
    }

    #form_newoperation_container{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #newoperation_conteiner_secondary_header h1{
        font-size: 23px;
    }

    .form_select_conteiner_individual label{
        font-size: 13px;
    }

    .form_input_conteiner_individual label{
        font-size: 13px;
    }
    .form_input_conteiner_individual {
        margin-top: 5px;
    }

    #contenedor_mensaje{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .from_message_container_principal{
        width: 80%;
        margin: 0;
        padding: 0;
    }

    .form_message_container h3{
        text-align: center;
    }
    /* .form_message_container{
        
    } */

}