#navbar_container{
    width: 100vw;
    height: 10vh;
    background-color: #001529;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#logo_navbar_container{
    width: auto;
    height: 90%;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#logo_navbar_container h2{
    margin: 0;
    padding: 0;
    color: white;
}

#logo_navbar{
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
}

#bttn_navbar_container{
    margin: 0;
    padding: 0;
    margin-right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.link_navbar{
    color: white;
    font-size: 20px;
    font-style: none;
}

.active_link_navbar{
    color: #46a8db;
}

/* ----RESPONSIVE FOR <768PX---- */
@media (max-width: 768px) {
    
    #logo_navbar_container h2{
        font-size: 15px;
    }

    #bttn_navbar_container{
        margin-right: 5px;
    }

    .link_navbar{
        font-size: 13px;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

}